@charset "UTF-8";
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
.h-empty {
  width: 100%;
  height: 100%;
}
.h-empty__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-empty__title, .h-empty__description {
  padding: 0;
  margin: 0;
  line-height: normal;
}
.h-empty__title .el-button, .h-empty__description .el-button {
  height: inherit;
}

.h-empty__title {
  margin-top: 16px;
  color: #4d4d4d;
  font-size: 16px;
}

.h-empty__description {
  margin-bottom: 8px;
  color: #999999;
  font-size: 14px;
}

.h-empty .h-breakpoint--xs > :first-child {
  width: 56px;
  height: 56px;
}
.h-empty .h-breakpoint--xs .h-empty__description {
  margin-top: 8px;
}

.h-empty .h-breakpoint--xxs > :first-child {
  display: none;
}
.h-empty .h-breakpoint--sm > :first-child {
  width: 72px;
  height: 72px;
}
.h-empty .h-breakpoint--sm .h-empty__description {
  margin-top: 8px;
}

.h-empty .h-breakpoint--md > :first-child {
  width: 104px;
  height: 104px;
}
.h-empty .h-breakpoint--md .h-empty__description {
  margin-top: 16px;
  font-size: 16px;
}

.h-empty .h-breakpoint--md.has-title .h-empty__description {
  margin-top: 4px;
  font-size: 14px;
}

.h-empty .h-breakpoint--lg > :first-child {
  width: 160px;
  height: 160px;
}
.h-empty .h-breakpoint--lg .h-empty__title {
  font-size: 18px;
}

.h-empty .h-breakpoint--lg .h-empty__description {
  margin-top: 16px;
  font-size: 16px;
}

.h-empty .h-breakpoint--lg.has-title .h-empty__description {
  margin-top: 8px;
}

@-webkit-keyframes hImgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hImgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h-img-view {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.h-img-view__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.h-img-view__wrapper.is-move-transition {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.h-img-view__wrapper.is-fade {
  -webkit-animation: hImgFade 0.3s;
          animation: hImgFade 0.3s;
}

.h-img-view__wrapper.is-native {
  width: 100%;
  height: 100%;
}
.h-img-view__wrapper.is-native .h-img-view__img {
  width: 100%;
  height: 100%;
}

.h-img-view--adjust .h-img-view__wrapper {
  cursor: move\0 ;
  cursor: -webkit-grab;
  cursor: grab;
}
.h-img-view--adjust .h-img-view__wrapper.is-drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.h-img-view--cover .h-img-view__img, .h-img-view--none .h-img-view__img {
  max-width: unset !important;
  max-height: unset !important;
}

.h-img-view--fill .h-img-view__wrapper {
  width: 100%;
  height: 100%;
}

.h-img-view--fill .h-img-view__img {
  width: 100%;
  height: 100%;
}

.h-img-view--bg-white {
  background-color: #fff;
}

.h-img-view--bg-gray {
  background-color: whitesmoke;
}

.h-img-view--placeholder {
  position: absolute;
}

.h-img-carousel {
  position: relative;
  height: 100%;
}
.h-img-carousel__wrapper {
  overflow: hidden;
  height: 100%;
}

.h-img-carousel__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.h-img-carousel__items.is-transition {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.h-img-carousel__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h-img-carousel__video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-img-carousel__video {
  width: 100%;
  height: 100%;
}

.h-img-carousel__placeholder {
  width: 100%;
  height: 100%;
}

.h-img-carousel__btn-group {
  width: 100%;
  margin: 8px 0;
  text-align: center;
}

.h-img-carousel__prev, .h-img-carousel__next {
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  background-color: transparent;
  border-radius: 2px;
  cursor: pointer;
}
.h-img-carousel__prev i, .h-img-carousel__next i {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fafafa;
  font-size: 72px;
}
.h-img-carousel__prev i::before, .h-img-carousel__next i::before {
  position: absolute;
  top: 50%;
  left: 4px;
  margin-top: -36px;
}
.h-img-carousel__prev.is-disabled, .h-img-carousel__next.is-disabled {
  cursor: not-allowed;
  opacity: 1;
}

.h-img-carousel__prev {
  left: 0;
}

.h-img-carousel__next {
  right: 0;
}

.h-img-carousel--theme-light i, .h-img-carousel--theme-light-gray i {
  text-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}
.h-img-carousel--theme-light .h-img-carousel__prev, .h-img-carousel--theme-light-gray .h-img-carousel__prev {
  left: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.04)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.h-img-carousel--theme-light .h-img-carousel__prev:hover, .h-img-carousel--theme-light-gray .h-img-carousel__prev:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.08)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 50%);
}
.h-img-carousel--theme-light .h-img-carousel__prev:active, .h-img-carousel--theme-light-gray .h-img-carousel__prev:active {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.12)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 50%);
}
.h-img-carousel--theme-light .h-img-carousel__prev.is-disabled, .h-img-carousel--theme-light-gray .h-img-carousel__prev.is-disabled {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.04)));
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.h-img-carousel--theme-light .h-img-carousel__prev.is-disabled i, .h-img-carousel--theme-light-gray .h-img-carousel__prev.is-disabled i {
  color: #f0f0f0;
  opacity: 0.4;
  text-shadow: none;
}

.h-img-carousel--theme-light .h-img-carousel__next, .h-img-carousel--theme-light-gray .h-img-carousel__next {
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.04)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.h-img-carousel--theme-light .h-img-carousel__next:hover, .h-img-carousel--theme-light-gray .h-img-carousel__next:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.08)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.08) 50%);
}
.h-img-carousel--theme-light .h-img-carousel__next:active, .h-img-carousel--theme-light-gray .h-img-carousel__next:active {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.12)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.12) 50%);
}
.h-img-carousel--theme-light .h-img-carousel__next.is-disabled, .h-img-carousel--theme-light-gray .h-img-carousel__next.is-disabled {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.04)));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.04) 100%);
}
.h-img-carousel--theme-light .h-img-carousel__next.is-disabled i, .h-img-carousel--theme-light-gray .h-img-carousel__next.is-disabled i {
  color: #f0f0f0;
  opacity: 0.4;
  text-shadow: none;
}

.h-img-carousel--theme-dark .h-img-carousel__prev i, .h-img-carousel--theme-dark .h-img-carousel__next i {
  color: #4d4d4d;
}
.h-img-carousel--theme-dark .h-img-carousel__prev i:hover, .h-img-carousel--theme-dark .h-img-carousel__next i:hover {
  color: #1a1a1a;
}
.h-img-carousel--theme-dark .h-img-carousel__prev.is-disabled i, .h-img-carousel--theme-dark .h-img-carousel__next.is-disabled i {
  color: #999999;
}

.h-img-carousel--theme-transparent .h-img-carousel__prev i, .h-img-carousel--theme-transparent .h-img-carousel__next i {
  color: rgba(255, 255, 255, 0.7);
}
.h-img-carousel--theme-transparent .h-img-carousel__prev i:hover, .h-img-carousel--theme-transparent .h-img-carousel__next i:hover {
  color: rgba(255, 255, 255, 0.9);
}
.h-img-carousel--theme-transparent .h-img-carousel__prev.is-disabled i, .h-img-carousel--theme-transparent .h-img-carousel__next.is-disabled i {
  color: rgba(255, 255, 255, 0.4);
}

/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
.h-img-snippets-rect {
  position: absolute;
  border: 2px solid #000;
}
.h-img-snippets-rect--success {
  border-color: #02bf0f;
}

.h-img-snippets-rect--warning {
  border-color: #ff952c;
}

.h-img-snippets-rect--danger {
  border-color: #fa3239;
}

.h-img-snippets-rect--info {
  border-color: #2196f3;
}

.h-img-snippets-rect--primary {
  border-color: #e72528;
}

.h-img-snippets-zoom {
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
}
.h-img-snippets-zoom__scale {
  display: inline-block;
  width: 36px;
  color: #4d4d4d;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.h-img-snippets-zoom {
  display: inline-block;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 8px;
}
.h-img-snippets-zoom__scale {
  display: inline-block;
  width: 36px;
  color: #4d4d4d;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}

.h-img-snippets-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}
.h-img-snippets-btn-group > .el-button {
  min-width: auto;
}
.h-img-snippets-btn-group--theme-transparent .el-button {
  color: rgba(255, 255, 255, 0.7);
}
.h-img-snippets-btn-group--theme-transparent .el-button:hover, .h-img-snippets-btn-group--theme-transparent .el-button:active {
  color: rgba(255, 255, 255, 0.9);
}
.h-img-snippets-btn-group--theme-transparent .h-img-snippets-zoom__scale {
  color: rgba(255, 255, 255, 0.7);
}

.h-img-snippets-btn-group--theme-light-gray {
  background-color: #fafafa;
}

.h-img-snippets-upload-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 104px;
  height: 104px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px dotted #cccccc;
  background-color: #f0f0f0;
  border-radius: 2px;
  cursor: pointer;
}
.h-img-snippets-upload-btn .h-img-view {
  border-radius: 2px;
}
.h-img-snippets-upload-btn:hover {
  background-color: #ebebeb;
}
.h-img-snippets-upload-btn:active {
  background-color: #e0e0e0;
}
.h-img-snippets-upload-btn__container {
  position: relative;
  width: 100%;
  color: #999999;
  font-size: 14px;
  text-align: center;
}
.h-img-snippets-upload-btn__container i {
  font-size: 24px;
}
.h-img-snippets-upload-btn__container.is-full {
  height: 100%;
  padding: 4px;
  background-color: #fff;
}

.h-img-snippets-upload-btn__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 8px;
  margin-top: 4px;
}

.h-img-snippets-upload-btn__overly {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.h-img-snippets-upload-btn__overly i {
  color: #fff;
}
.h-img-snippets-upload-btn__overly i:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.h-img-snippets-upload-btn__overly.is-show {
  opacity: 1;
}

.h-img-snippets-thumbnail__original-img {
  max-width: unset !important;
}

.h-img-snippets-thumbnail__original-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
/* color helper
-------------------------- */
/* Colors
-------------------------- */
/* 背景色 */
/* 固定色 */
/* 情景色 */
/* brand-x 纯梯度色 */
/* brand-rgba-x 透明梯度色 */
/* brand 状态色 */
/* Neutral 纯中性色 */
/* 中性反色 */
/* Neutral 透明中性色 */
/* Neutral-f透明中性色 */
/* height
-------------------------- */
/* z-index
-------------------------- */
/* Break-point
-------------------------- */
/* Transition
-------------------------- */
/* Font
-------------------------- */
/* Border
-------------------------- */
/* Box-shadow
-------------------------- */
/* disabled
-------------------------- */
/* icon
-------------------------- */
/* input
-------------------------- */
/* option
-------------------------- */
/* modal
-------------------------- */
/* Menu (Menu 改为公共变量，可以在 HUI-Pro 中使用)
-------------------------- */
/* BEM support Func
 -------------------------- */
/* BEM
 -------------------------- */
.h-empty {
  width: 100%;
  height: 100%;
}
.h-empty__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-empty__title, .h-empty__description {
  padding: 0;
  margin: 0;
  line-height: normal;
}
.h-empty__title .el-button, .h-empty__description .el-button {
  height: inherit;
}

.h-empty__title {
  margin-top: 16px;
  color: #4d4d4d;
  font-size: 16px;
}

.h-empty__description {
  margin-bottom: 8px;
  color: #999999;
  font-size: 14px;
}

.h-empty .h-breakpoint--xs > :first-child {
  width: 56px;
  height: 56px;
}
.h-empty .h-breakpoint--xs .h-empty__description {
  margin-top: 8px;
}

.h-empty .h-breakpoint--xxs > :first-child {
  display: none;
}
.h-empty .h-breakpoint--sm > :first-child {
  width: 72px;
  height: 72px;
}
.h-empty .h-breakpoint--sm .h-empty__description {
  margin-top: 8px;
}

.h-empty .h-breakpoint--md > :first-child {
  width: 104px;
  height: 104px;
}
.h-empty .h-breakpoint--md .h-empty__description {
  margin-top: 16px;
  font-size: 16px;
}

.h-empty .h-breakpoint--md.has-title .h-empty__description {
  margin-top: 4px;
  font-size: 14px;
}

.h-empty .h-breakpoint--lg > :first-child {
  width: 160px;
  height: 160px;
}
.h-empty .h-breakpoint--lg .h-empty__title {
  font-size: 18px;
}

.h-empty .h-breakpoint--lg .h-empty__description {
  margin-top: 16px;
  font-size: 16px;
}

.h-empty .h-breakpoint--lg.has-title .h-empty__description {
  margin-top: 8px;
}

@keyframes hImgFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.h-img-view {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.h-img-view__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  image-rendering: -webkit-optimize-contrast;
}

.h-img-view__wrapper.is-move-transition {
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.h-img-view__wrapper.is-fade {
  -webkit-animation: hImgFade 0.3s;
          animation: hImgFade 0.3s;
}

.h-img-view__wrapper.is-native {
  width: 100%;
  height: 100%;
}
.h-img-view__wrapper.is-native .h-img-view__img {
  width: 100%;
  height: 100%;
}

.h-img-view--adjust .h-img-view__wrapper {
  cursor: move\0 ;
  cursor: -webkit-grab;
  cursor: grab;
}
.h-img-view--adjust .h-img-view__wrapper.is-drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.h-img-view--cover .h-img-view__img, .h-img-view--none .h-img-view__img {
  max-width: unset !important;
  max-height: unset !important;
}

.h-img-view--fill .h-img-view__wrapper {
  width: 100%;
  height: 100%;
}

.h-img-view--fill .h-img-view__img {
  width: 100%;
  height: 100%;
}

.h-img-view--bg-white {
  background-color: #fff;
}

.h-img-view--bg-gray {
  background-color: whitesmoke;
}

.h-img-view--placeholder {
  position: absolute;
}

.h-album__prev, .h-album__next {
  overflow: visible;
  width: 24px;
  height: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 2px;
  border-radius: 0;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.4286;
  outline: none;
  text-align: center;
}
.h-album__prev i, .h-album__next i {
  font-size: 24px;
  vertical-align: middle;
}
.is-disabled.h-album__prev, .is-disabled.h-album__next {
  background-image: none;
  cursor: not-allowed;
  opacity: 0.4;
}

.h-album--theme-light-gray .h-album__prev, .h-album--theme-light-gray .h-album__next, .h-album--theme-light .h-album__prev, .h-album--theme-light .h-album__next {
  border-color: transparent;
  background-color: transparent;
  color: #4d4d4d;
}
.h-album--theme-light-gray .h-album__prev:hover:not(.is-disabled), .h-album--theme-light-gray .h-album__next:hover:not(.is-disabled), .h-album--theme-light .h-album__prev:hover:not(.is-disabled), .h-album--theme-light .h-album__next:hover:not(.is-disabled) {
  background-color: #f0f0f0;
  color: #4d4d4d;
}
.h-album--theme-light-gray .h-album__prev:active:not(.is-disabled), .h-album--theme-light-gray .h-album__next:active:not(.is-disabled), .h-album--theme-light .h-album__prev:active:not(.is-disabled), .h-album--theme-light .h-album__next:active:not(.is-disabled) {
  background-color: #e0e0e0;
  color: #1a1a1a;
}
.h-album--theme-light-gray .is-disabled.h-album__prev, .h-album--theme-light-gray .is-disabled.h-album__next, .h-album--theme-light .is-disabled.h-album__prev, .h-album--theme-light .is-disabled.h-album__next {
  color: #858585;
}

.h-album--theme-dark .h-album__prev, .h-album--theme-dark .h-album__next {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
}
.h-album--theme-dark .h-album__prev:hover:not(.is-disabled), .h-album--theme-dark .h-album__next:hover:not(.is-disabled) {
  background: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.9);
}
.h-album--theme-dark .h-album__prev:active:not(.is-disabled), .h-album--theme-dark .h-album__next:active:not(.is-disabled) {
  background: rgba(255, 255, 255, 0.06);
  color: rgba(255, 255, 255, 0.7);
}
.h-album--theme-dark .is-disabled.h-album__prev, .h-album--theme-dark .is-disabled.h-album__next {
  border-color: rgba(255, 255, 255, 0.04);
  background: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.2);
}

.h-album__items-wrapper.has-right-shadow::after, .h-album__items-wrapper.has-left-shadow::before {
  position: absolute;
  z-index: 5;
  top: 0;
  height: 100%;
  content: "";
  pointer-events: none;
}

.h-album {
  padding: 8px;
}
.h-album.has-shadow .h-album__item {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.h-album.has-shadow .h-album__item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.4;
  pointer-events: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.h-album.has-shadow .h-album__item:hover::after {
  opacity: 0;
}
.h-album.has-shadow .h-album__item.is-active::after {
  opacity: 0;
}

.h-album__item {
  position: relative;
}

.h-album--theme-light .h-album__item::after {
  background-color: #fff;
}

.h-album--theme-light .h-album__items-wrapper.has-left-shadow::before {
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(50%, transparent));
  background: linear-gradient(to right, white, transparent 50%);
}

.h-album--theme-light .h-album__items-wrapper.has-right-shadow::after {
  background: -webkit-gradient(linear, right top, left top, from(white), color-stop(50%, transparent));
  background: linear-gradient(to left, white, transparent 50%);
}

.h-album--theme-light-gray {
  background-color: whitesmoke;
}
.h-album--theme-light-gray .h-album__item::after {
  background-color: #fff;
}

.h-album--theme-light-gray .h-album__items-wrapper.has-left-shadow::before {
  background: -webkit-gradient(linear, left top, right top, from(whitesmoke), color-stop(50%, transparent));
  background: linear-gradient(to right, whitesmoke, transparent 50%);
}

.h-album--theme-light-gray .h-album__items-wrapper.has-right-shadow::after {
  background: -webkit-gradient(linear, right top, left top, from(whitesmoke), color-stop(50%, transparent));
  background: linear-gradient(to left, whitesmoke, transparent 50%);
}

.h-album--theme-dark .h-album__item::after {
  background-color: #4d4d4d;
}

.h-album--theme-dark .h-album__items-wrapper.has-left-shadow::before {
  background: -webkit-gradient(linear, left top, right top, from(#262626), color-stop(90%, transparent));
  background: linear-gradient(to right, #262626, transparent 90%);
}

.h-album--theme-dark .h-album__items-wrapper.has-right-shadow::after {
  background: -webkit-gradient(linear, right top, left top, from(#262626), color-stop(90%, transparent));
  background: linear-gradient(to left, #262626, transparent 90%);
}

.h-album__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-album__btn {
  height: 100%;
}

.h-album__prev {
  left: 0;
}

.h-album__next {
  right: 0;
}

.h-album__items-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 2px;
}
.h-album__items-wrapper.has-left-shadow::before {
  left: 0;
}

.h-album__items-wrapper.has-right-shadow::after {
  right: 0;
}

.h-album__items {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6000px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.h-album__items.is-transition {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

.h-album__item {
  margin-right: 8px;
  border: 2px solid transparent;
  -webkit-transition: border 0.15s ease;
  transition: border 0.15s ease;
}
.h-album__item:hover {
  cursor: pointer;
}
.h-album__item:last-child {
  margin-left: 0;
}
.h-album__item.is-active {
  border-color: #e72528;
}

.h-album__video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h-album__video {
  width: 100%;
  height: 100%;
}

.h-album__video-wrapper {
  position: relative;
  background-color: whitesmoke;
}

.h-album__video-duration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#262626));
  background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, #262626 100%);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.h-img-preview__wrapper {
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.h-img-preview__wrapper.has-album {
  padding: 32px 0 0 0;
}

.h-img-preview__container {
  overflow: hidden;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 24px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.h-img-preview__close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  cursor: pointer;
}
.h-img-preview__close i {
  position: relative;
  top: 1px;
  left: 1px;
  font-size: 36px;
}

.h-img-preview__top {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-img-preview__title {
  height: 24px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 88px 0 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-img-preview__description {
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 0 88px 0 24px;
  margin-top: 4px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.h-img-preview__btn-group {
  margin: 0 24px;
}

.h-img-preview__album {
  margin: 0 16px;
}

.h-img-preview--theme-light .h-img-preview__top {
  color: #1a1a1a;
}

.h-img-preview--theme-light .h-img-preview__title {
  color: #1a1a1a;
}

.h-img-preview--theme-light .h-img-preview__description {
  color: #4d4d4d;
}

.h-img-preview--theme-light .h-img-preview__close {
  border: 1px solid #e0e0e0;
  background-color: rgba(255, 255, 255, 0.3);
}
.h-img-preview--theme-light .h-img-preview__close i {
  color: #4d4d4d;
}
.h-img-preview--theme-light .h-img-preview__close:hover {
  background-color: #e0e0e0;
}
.h-img-preview--theme-light .h-img-preview__close:hover i {
  color: #1a1a1a;
}
.h-img-preview--theme-light .h-img-preview__close:active {
  background-color: #f0f0f0;
}

.h-img-preview--theme-dark .h-img-preview__top {
  color: #fff;
}

.h-img-preview--theme-dark .h-img-preview__title {
  color: #fff;
}

.h-img-preview--theme-dark .h-img-preview__description {
  color: rgba(255, 255, 255, 0.7);
}

.h-img-preview--theme-dark .h-img-preview__close {
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-color: #262626;
}
.h-img-preview--theme-dark .h-img-preview__close i {
  color: rgba(255, 255, 255, 0.7);
}
.h-img-preview--theme-dark .h-img-preview__close:hover {
  background-color: #333333;
}
.h-img-preview--theme-dark .h-img-preview__close:active {
  background-color: #2e2e2e;
}

.zoom-enter-active,
.zoom-leave-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.zoom-enter,
.zoom-leave-to {
  opacity: 0;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
}

@-webkit-keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes v-modal-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes v-modal-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes v-modal-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.h-img-preview--light.v-modal {
  background: rgba(255, 255, 255, 0.9);
}

.h-img-preview--dark.v-modal {
  background: rgba(26, 26, 26, 0.9);
}

.h-img-preview--light.v-modal-enter, .h-img-preview--dark.v-modal-enter {
  -webkit-animation: v-modal-in 0.35s ease;
          animation: v-modal-in 0.35s ease;
}
.h-img-preview--light.v-modal-leave, .h-img-preview--dark.v-modal-leave {
  -webkit-animation: v-modal-out 0.35s ease;
          animation: v-modal-out 0.35s ease;
}