@font-face {
  font-family: "iconfont"; /* Project id 1889952 */
  src: url('iconfont.woff2?t=1683704964516') format('woff2'),
       url('iconfont.woff?t=1683704964516') format('woff'),
       url('iconfont.ttf?t=1683704964516') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconmenu1:before {
  content: "\e7ee";
}

.iconmenu2:before {
  content: "\e7ef";
}

.iconmenu3:before {
  content: "\e7f0";
}

.iconmenu4:before {
  content: "\e7f1";
}

.iconmenu5:before {
  content: "\e7f2";
}

.iconicon_erweima_24:before {
  content: "\e7ed";
}

.iconicon_remind_16:before {
  content: "\e730";
}

.iconnav_dituku_16:before {
  content: "\e728";
}

.iconleftbar_ico_16_sfmx:before {
  content: "\e634";
}

.iconleftbar_ico_16_znfx:before {
  content: "\e635";
}

.iconleftbar_ico_16_jggl:before {
  content: "\e636";
}

